 {
"title": "Detailansicht",
"template": "full-html",
"name": "Detailansicht"
}
---
<div class="detailSite">

  <div class="detailContainer">

    <div class="recpNameDet"> {{global.rezepte.[7].rezeptName}} </div>
    <div class="recpTeaserDet"> {{global.rezepte.[7].rezeptTeaser}} </div>
    <img class="recpImgDet" src="assets/{{global.rezepte.[7].rezeptName}}.jpg"
      alt="product-picture">
    <div class="detInfoContainer">
      <div class="detailList">
        <h3>
          Infos:
        </h3>
        <ul>
          <li> Portionen: {{global.rezepte.[7].rezeptPortionen}}</li>
          <li> Tags: <ul>
              {{#each global.rezepte.[7].rezeptTags}}
              <li>{{this}}</li>
              {{/each}}
            </ul></li>
          <li> Kategorien: <ul>
              {{#each global.rezepte.[7].rezeptKategorien}}
              <li>
                {{this}}
              </li>
              {{/each}}
            </ul></li>
        </ul>
      </div>
      <div class="detailList">
        <h3>Zutaten:</h3>
        <ul>
          {{#each global.rezepte.[7].rezeptZutaten}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="detailList">
        <h3>Anleitung:</h3>
        <p>{{global.rezepte.[7].rezeptAnleitung}}</p>
      </div>
    </div>
  </div>
</div>